// main: ../main.scss
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
  width: 100%;
  min-height: 100vh;
  position: relative;
  padding: 80px 0 60px 0;
  display: flex;
  align-items: center;
  background: url(../img/hero-bg.png) top center no-repeat;
  background-size: cover;

  h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
  }

  p {
    color: color-mix(in srgb, var(--default-color), transparent 30%);
    margin: 5px 0 30px 0;
    font-size: 20px;
    font-weight: 400;
  }

  .btn-get-started {
    color: var(--contrast-color);
    background: var(--accent-color);
    font-family: var(--heading-font);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 40px;
    border-radius: 4px;
    transition: 0.5s;
    box-shadow: 0 8px 28px rgba(0, 0, 0, 0.1);

    i {
      margin-left: 5px;
      font-size: 18px;
      transition: 0.3s;
    }

    &:hover {
      color: var(--contrast-color);
      background: color-mix(in srgb, var(--accent-color), transparent 15%);
      box-shadow: 0 8px 28px rgba(0, 0, 0, 0.1);

      i {
        transform: translateX(5px);
      }
    }
  }

  .btn-watch-video {
    font-size: 16px;
    transition: 0.5s;
    color: var(--default-color);
    font-weight: 600;

    i {
      color: var(--accent-color);
      font-size: 32px;
      transition: 0.3s;
      line-height: 0;
      margin-right: 8px;
    }

    &:hover {
      color: var(--accent-color);

      i {
        color: color-mix(in srgb, var(--accent-color), transparent 15%);
      }
    }
  }

  .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
  }

  @media (max-width: 640px) {
    h1 {
      font-size: 28px;
      line-height: 36px;
    }

    p {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}