// main: ../main.scss
/*--------------------------------------------------------------
# Moodle Section
--------------------------------------------------------------*/
.moodle {
  .moodle-item {
    background-color: var(--surface-color);
    box-shadow: 0px 0 30px rgba(0, 0, 0, 0.1);
    height: 100%;
    padding: 60px 30px;
    text-align: center;
    transition: 0.3s;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;

    i {
      font-size: 48px;
      color: #f98012; // Moodle orange
      margin-bottom: 20px;
    }

    h3 {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 15px;
    }

    p {
      color: var(--default-color);
    }
  }

  .swiper-pagination {
    margin-top: 30px;
    position: relative;

    .swiper-pagination-bullet {
      width: 12px;
      height: 12px;
      background-color: color-mix(in srgb, var(--default-color), transparent 85%);
      opacity: 1;
    }

    .swiper-pagination-bullet-active {
      background-color: #f98012;
    }
  }
}
