<div class="container-fluid container-xl position-relative d-flex align-items-center">

  <a href="/" class="logo d-flex align-items-center me-auto">
    <img src="/assets/img/logo.png" alt="Qbnox Logo">
  </a>

  <nav id="navmenu" class="navmenu">
    <ul>
      <li><a href="/index.html#hero">Home<br></a></li>
      <li><a href="/index.html#about">About</a></li>
      <li><a href="/index.html#features">Products and Services</a></li>
      <li><a href="/index.html#moodle">Moodle</a></li>
      <li><a href="/index.html#team">Team</a></li>
      <li><a href="/wifi/blogs/blog.html">Blog</a></li>
      <li><a href="/index.html#contact">Contact</a></li>
    </ul>
    <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
  </nav>

  <a class="btn-getstarted flex-md-shrink-0" href="/index.html#about">Get Started</a>

</div>
